<?xml version='1.0' encoding='utf-8'?>
<widget id="com.voiceamplifier.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VoiceAmplifier</name>
    <description>
        Voice Amplifier - Record and play back your amplified voice for clear communication
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Microphone permission for voice recording -->
    <feature name="Microphone">
        <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
    </feature>
    
    <!-- Android permissions -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
</widget>
